$accent-color: #fafafa;
$primary-color: #8b181d;
// $primary-color: #3930d8;
$primary-inverted-color: #a45964;
$dark-color: #3e3d40;
$white-color: #ffffff;
$black-color: #000000;
$yellow-color: #f2c94c;
$caqui-color: #ffefbf;
$gray-color-1: #333333;
$gray-color-2: #87888c;
$gray-color-3: #828282;
$gray-color-4: #626262;
$blue-color-1: #2f80ed;
$blue-color-2: #2d9cdb;

$shadow-light: 0px 11px 16px rgba(0, 0, 0, 0.37);
$shadow-dark: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 11px 22px #ffffff;
$box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.25);
$box-shadow-linear: 0 3px 3px rgba(0, 0, 0, 0.2);
