$font-family: "Lato", sans-serif;

$size-3: calc(0.3vw + 0.3vh);
$size-4: calc(0.4vw + 0.4vh);
$size-5: calc(0.5vw + 0.5vh);
$size-6: calc(0.6vw + 0.6vh);
$size-7: calc(0.7vw + 0.7vh);
$size-8: calc(0.8vw + 0.8vh);
$size-9: calc(0.9vw + 0.9vh);
$size-10: calc(1vw + 1vh);
$size-11: calc(1.1vw + 1.1vh);
$size-12: calc(1.2vw + 1.2vh);
$size-13: calc(1.3vw + 1.3vh);
$size-14: calc(1.4vw + 1.4vh);
$size-15: calc(1.5vw + 1.5vh);
$size-16: calc(1.6vw + 1.6vh);
$size-17: calc(1.7vw + 1.7vh);
$size-18: calc(1.8vw + 1.8vh);
$size-19: calc(1.9vw + 1.9vh);
$size-20: calc(2vw + 2vh);
$size-21: calc(2.1vw + 2.1vh);
$size-22: calc(2.2vw + 2.2vh);
$size-23: calc(2.3vw + 2.3vh);
$size-24: calc(2.4vw + 2.4vh);
$size-25: calc(2.5vw + 2.5vh);
$size-26: calc(2.6vw + 2.6vh);
$size-27: calc(2.7vw + 2.7vh);
$size-28: calc(2.8vw + 2.8vh);
$size-29: calc(2.9vw + 2.9vh);
$size-30: calc(3vw + 3vh);
$size-31: calc(3.1vw + 3.1vh);
$size-32: calc(3.2vw + 3.2vh);
$size-33: calc(3.3vw + 3.3vh);
$size-34: calc(3.4vw + 3.4vh);
$size-35: calc(3.5vw + 3.5vh);

$size-36: calc(3.6vw + 3.6vh);
$size-37: calc(3.7vw + 3.7vh);
$size-38: calc(3.8vw + 3.8vh);
$size-39: calc(3.9vw + 3.9vh);
$size-40: calc(4vw + 4vh);
$size-41: calc(4.1vw + 4.1vh);
$size-42: calc(4.2vw + 4.2vh);
$size-43: calc(4.3vw + 4.3vh);
$size-44: calc(4.4vw + 4.4vh);
$size-45: calc(4.5vw + 4.5vh);
$size-46: calc(4.6vw + 4.6vh);
$size-47: calc(4.7vw + 4.7vh);
$size-48: calc(4.8vw + 4.8vh);
$size-49: calc(4.9vw + 4.9vh);
$size-50: calc(5vw + 5vh);
