@use "../settings/variables";
@use "../tools/functions";

.a-link {
  $color: #{functions.light-dark(variables.$black-color, variables.$white-color)};

  color: $color;
  font-size: variables.$size-8;
  font-weight: 800;
  text-decoration: none;
  cursor: pointer;
  &--active {
    $text-shadow: #{functions.light-dark(variables.$shadow-light, variables.$shadow-dark)};

    text-shadow: $text-shadow;
  }
  &:hover {
    $color: #{functions.light-dark(variables.$primary-color, variables.$primary-inverted-color)};

    color: $color;
  }
}

@media (max-width: variables.$max-width-lg) {
  .a-link {
    font-size: variables.$size-12;
  }
}
