@use "../settings/variables";

@mixin input-base($background-color: white, $border-color: grey, $focus-border-color: grey) {
  background: $background-color;
  border: 1px solid $border-color;
  box-shadow: none;
  outline: none;
  font-style: normal;
  display: flex;
  justify-items: center;
  border-radius: 4px;
  padding: 0.8em 1em;
  width: 100%;
  font-weight: 500;
  margin: 0.5em 0;
  color: rgba(black, 0.7);
  &::placeholder {
    color: rgba(variables.$gray-color-1, 0.5);
    font-weight: 500;
  }
  &:focus {
    border: 1px solid $focus-border-color;
  }
}
